@import "tailwindcss";

@theme {
  --font-bebas: var(--font-bebas-neue);
  --font-grotesk: var(--font-space-grotesk);
  --font-inter: var(--font-inter);

  --color-primary: #1C2D56;
  --color-secondary: #63A8CC;
  --color-accent: #C79D5A;
  --color-cream: #ECD792;
  --color-background: #FBF6E9;
}