@import "tailwindcss";

html {
  scrollbar-gutter: stable;
}

@theme {
  --font-bebas: var(--font-bebas-neue);
  --font-manrope: var(--font-manrope);
  --font-inter: var(--font-inter);

  --color-primary: #1C2D56;
  --color-secondary: #63A8CC;
  --color-accent: #C79D5A;
  --color-cream: #ECD792;
  --color-background: #FBF6E9;
}